/*
* Accent color (red) : #BE2121
* Background, Primary (black): #262626 | #282828
* Text, Secondary (white): #F1F1F1 | #ECECEC
* ^^ (reverse for light mode)
*/

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#head {
    height: 150px;
}

#page_wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

h1, h3 {
    color: #333333;
}

h1 {
    font-weight: 400;
    margin-bottom: 10px;
}

h3 {
    font-weight: 450;
    margin-bottom: 5px;
}

ul, ol {
    padding-left: 40px;
}

p, li, a{
    color: #666666;
    line-height: 1.8;
    text-align: justify;
}

.navi li a.navLnk{
    text-decoration: none;
    color: #158cba;
} 

.navi {
    margin-bottom: 30px;
}

a.drctLnk, a.navLnk{
    color: #158cba;
    text-decoration: none;
}

a.drctLnk:hover, li a.navLnk:hover {
    text-decoration: underline;
}

a.drctLnk:active, li a.navLnk:active {
    color: #075e81;
}

a.drctLnk:visited, li a.navLnk:visited {
    font-style: italic;
    color: #075e81;
}

.special_a {
    color: #666666;
}

.special_a:hover {
    color: #158cba;
    text-decoration: underline;
}

.special_a:active {
    color: #075e81;
    text-decoration: underline;
    font-weight: 400;
}

a.btn {
    background-color: #158cba;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.btn:hover, a.btn:active {
    background-color: #075e81;
}

.logo {
    position: absolute;
    top: 25px;
    right: 10px;
}

.p2 {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    line-height: 1.2;
}

#footer {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
}

.footer_hr {
    border: 0px;
    border-top: 1px solid #666666;    
    border-bottom: 1px solid #434343;
    height: 0.5px;
}

.cc-r {
    text-align: right;
}

.cc-c {
    text-align: center;
}

.cc-l {
    text-align: left;
}
